
  <button type="button" mat-icon-button (click)="toggleSidebar.emit()">
  </button>
  <b style="cursor: pointer;" *ngIf="user | async;else templateName" routerLink="my-profile">
    AUTENTICADO: {{ (user | async)?.fullName }}
  </b>
  <!-- <button routerLink="/auth/login" mat-flat-button color="primary">Iniciar sesión</button> -->
  <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="">INGRESO</button>
  <button type="button" class="btn btn-outline-light" (click)="onLogOut()">CERRAR SESION</button>
  <ng-template #templateName>
  </ng-template>
