<!-- <h1 mat-dialog-title>Editar usuario</h1>
<div mat-dialog-content>
  <form class="flex flex-column" [formGroup]="editForm">
    <mat-form-field appearance="fill">
      <mat-label>Profesor</mat-label>
      <input matInput [formControl]="profesor">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Curso</mat-label>
        <input matInput [formControl]="curso">
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-button (click)="close()">Cancelar</button>
        <button mat-button [mat-dialog-close]="editForm.value" cdkFocusInitial>
          Ok
        </button>
      </div>
  </form>
</div>
 -->

 <!-- <form (ngSubmit)="Editar()" novalidate #f="ngForm">
    <div class="element">
        <label for="element">Nombre</label>
        <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="curso.curso">
    </div>
    <div class="element">
        <label for="element">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="curso.email">
    </div>
    <div class="element">
        <label for="element">profesor</label>
        <input type="text" class="form-control" id="teacher" name="teacher" [(ngModel)]="curso.profesor">
    </div>
    <button>guardar</button>
</form>  -->
