<div id="menu">
<div class="menu">
  <button appMidirective class="btn btn-dark" (click)="valorSwitch='menu'"  type="button">Menu</button>
  <button appMidirective class="btn btn-secondary" (click)="valorSwitch='ocultar'" type="button">cerrar</button>
    </div>
    <div [ngSwitch]="valorSwitch">
      <ul *ngSwitchCase="'menu'">
        <li>
          <button class="btn btn-dark" routerLink="Alumnos" > 
              Alumnos
            </button> 
        </li>
        <li>
          <button class="btn btn-dark" routerLink="Cursos"> Cursos
          </button> 
        </li>
        <li>
          <button class="btn btn-dark" routerLink="Inscripciones"> Inscripciones
          </button> 
        </li>
      </ul>
      <span *ngSwitchCase="'ocultar'"></span>
    </div>
</div>
