<form (ngSubmit)="Create()" novalidate #f="ngForm">
  <div class="form group">
      <label for="techaer">Nombre</label>
      <input type="text" class="form-control" id="techaer" name="teacher" [(ngModel)]="teacher">
  </div>
  <div class="form group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
  </div>
  <div class="form group">
    <label for="curso">Nombre</label>
    <input type="text" class="form-control" id="curso" name="curso" [(ngModel)]="curso">
</div>
  <button>guardar</button>
</form>
